.media-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.media-list .media-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.media-list .media-item:hover {
  background-color: #ffffff1a;
}

.media-list .media-item.active {
  background-color: #9b4de0;
}

.media-list .media-item .media-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  width: 50%;
}

.media-list .media-item .media-left .media-image {
  min-width: 60px;
  height: 60px;
  background-color: #bdc1c7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list .media-item .media-left .media-image .media-play {
  display: none;
  cursor: pointer;
}

.media-list .media-item:hover .media-left .media-image .media-play {
  display: inline-block;
}

.media-list .media-item .media-left .media-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.media-list .media-item .media-left .media-content p {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.media-list .media-item .media-right {
  display: none;
  position: relative;
}

.media-list .media-item:hover .media-right {
  display: inline-block;
}

.media-list .media-item.active .media-right {
  display: inline-block;
}

.media-list .media-item .media-right .actions-item button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.media-list .media-item .media-right .actions-item .media-item-popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 100%;
  background-color: #34224f;
  border-radius: 5px;
  width: 290px;
  padding: 5px;
  z-index: 1000;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 15px 20px;
  align-items: center;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-header .item-header-image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color: #bdc1c7;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-header .item-header-texts {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-header .item-header-texts span {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-list .media-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 20px;
  cursor: pointer;
  color: #dadada;
  border-left: 2px solid transparent;
  white-space: nowrap;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-list .media-item:hover {
  background-color: #ffffff1a;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-list .media-item.item-text {
  color: #ffffff4d;
}

.media-list .media-item .media-right .actions-item .media-item-popup .item-list .media-item.item-text:hover {
  color: #fff;
}