.media-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.media-cards .card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 220px;
}

.media-cards .card-item .card-block {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.media-cards .card-item .card-block .card-image {
  max-width: 220px;
  height: 220px;
  background-color: #bdc1c7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.media-cards .card-item .card-block .card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.media-cards .card-item:hover .card-block .card-image {
  transform: scale(1.1);
}

.media-cards .card-item.active .card-block .card-image {
  transform: scale(1.1);
}

.media-cards .card-item:hover .card-block .card-actions {
  background-color: #00000080;
  opacity: 1;
}

.media-cards .card-item.active .card-block .card-actions {
  background-color: #00000080;
  opacity: 1;
}


.media-cards .card-item .card-block .card-actions span {
  cursor: pointer;
}

.media-cards .card-name {
  color: #ffffff80;
  cursor: context-menu;
}
