.mp3-website .play-music-container {
    background-color: #170f23;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.mp3-website .play-music-container .media-list .media-item:hover {
    background-color: transparent;
}

.mp3-website .play-music-container .media-list .media-item .media-right {
    display: flex;
}

.mp3-website .play-music-container .music-play-control {
    flex: 1;
}

.mp3-website .play-music-container .music-play-control .play-controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-icons span {
    cursor: pointer;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    --progressValue: 0%;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .progress-bar {
    border-radius: 4px;
    background-color: #ffffff4d;
    align-self: center;
    height: 4px;
    flex: 1;
    max-width: 400px;
    position: relative;
    transition: height 0.1s ease-in-out;
    --progressValue: 0%;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .progress-bar:hover {
    height: 6px;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .progress-bar .progress-thumb {
    background-color: #ffffff4d;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .progress-bar .progress-slider {
    background-color: #fff;
    align-self: center;
    height: 100%;
    border-radius: 4px;
    width: var(--progressValue);
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .time {
    font-size: 12px;
    color: #ffffff4d;
}

.mp3-website .play-music-container .music-play-control .play-controls .control-progress .time.active {
    color: #fff;
}