.zing-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zing-sidebar .sidebar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.zing-sidebar .sidebar-container .sidebar-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zing-sidebar .sidebar-container .sidebar-group .sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 20px;
  cursor: pointer;
  color: #dadada;
  border-left: 2px solid transparent;
}

.zing-sidebar .sidebar-container .sidebar-group .sidebar-item:hover {
  color: #fff;
}
.zing-sidebar .sidebar-container .sidebar-group .sidebar-item.active {
  background-color: #ffffff1a;
  border-left-color: #9b4de0;
}

.zing-sidebar .zing-create-playlist {
  padding: 18px 20px;
  cursor: pointer;
}

.zing-sidebar .zing-create-playlist .playlist-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #000c;
  display: none;
  align-items: center;
  justify-content: center;
}

.zing-sidebar .zing-create-playlist .playlist-popup.active {
  display: flex;
}

.zing-sidebar .zing-create-playlist .playlist-popup .popup-container {
  width: 250px;
  background-color: #34224f;
  border-radius: 5px;
  position: relative;
  padding: 22px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.zing-sidebar .zing-create-playlist .playlist-popup .popup-container .icon-close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.zing-sidebar .zing-create-playlist .playlist-popup .popup-container .popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.zing-sidebar .zing-create-playlist .playlist-popup .popup-container .popup-content input {
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  border: none;
}

.zing-sidebar .zing-create-playlist .playlist-popup .popup-container .popup-content button {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}